body{
    background-image: url("https://media.istockphoto.com/id/1443589459/vector/elegant-white-abstract-background-with-diagonal-lines.jpg?s=170667a&w=0&k=20&c=EGMIsakTIUVzPvi-HcHbv042DG6ff2GawF48zgeNnww=");
}

p{
    align-content: center;
    float: left;
    text-align: center;
    position: absolute;
}

p:after{
    content:'';
    background-color: #30799B;
    position: relative;
    width: 10px;
    height: 10px;
    left: 0;
    bottom: 0;
    transition: 1s ;
}

p:before{
    content:'';
    left: 10vh;
    bottom:0;
    transition: 1s;

}